<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>专业简介-赣南中专网</title>
    <meta name="description" content="赣南中专，为你打造专业的中专就业指导！">
    <meta name="keywords" content="赣州中专，赣州技校，赣州职业学校，赣州中职院校，江西中专，赣南中专，赣州哪个中专好，中专什么专业好，赣州中专排名">


    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="../../resources/element/css/element.css">
    <link rel="stylesheet" href="../../resources/magical/magicalcoder.css">

    <script src="../../resources/magical/magicalcoder.js"></script>
    <script src="../../resources/vue/vue.js"></script>
    <script src="../../resources/element/js/element.js"></script>
    <script src="../../resources/vue/axios.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/app.js"></script>
</head>
<body style="">
<div id="magicalDragScene" mcstyle="ab-unit:%;ab-unit-left:%;ab-unit-top:%;ab-unit-width:%;ab-unit-height:%"
     background-color="#bf2525" class="mc-root mc-ui-absolute-pane"
     style="background-color: rgb(255, 255, 255); height: 919px; width: 93.5612%; margin-left: 50px;">
    <div class="el-row" style="position: absolute; left: 0.0853971%; top: -0.142857%; height: 10%; width: 45.7728%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24 el-col-md-12"
             style="height: 90px; width: 216.886%; background-color: rgb(0, 150, 136);">
            <div class="el-image"
                 style="width: 16.8127%; height: 73px; position: absolute; left: 0.0796813%; top: 12.2222%; background-color: rgb(0, 150, 136);">
                <img src="../../resources/images/logo.png" class="el-image__inner"
                     style="object-fit: scale-down;"></div>
            <ul role="menubar" class="el-menu--horizontal el-menu"
                style="width: 62.8696%; position: absolute; left: 17.2908%; top: 12.5%; height: 69px; border-bottom-style: hidden; background-color: rgb(0, 150, 136);">
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../index.html'">
                    首页
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../school/list.html'">
                    中专排名
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidb91917e6-6bc2-4db8-abad-130adce9e9ef"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../profession/rank.html'">
                    热门专业
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuid8772fdd1-4c6f-439f-8208-93ff27a52e7d"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../school/list.html'">
                    技能培训
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuida24a7b6e-f6b0-467f-897b-35dcc92bb610"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../q&a/list.html'">
                    招生问答
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidadad5f9c-6403-46f4-b32d-d2e469f7b455"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../apply/apply.html'">
                    在线报名
                </li>
            </ul>
            <button type="button" class="el-button el-button--primary el-button--small is-disabled"
                    style="position: absolute; left: 92.2414%; top: 28%; width: 6.12069%; height: 40px; background-color: rgb(0, 150, 136); font-weight: bold;">
                <!----><i class="el-icon-s-custom"></i><span>登录</span></button>
        </div>
    </div>
    <div aria-label="Breadcrumb" role="navigation" class="el-breadcrumb"
         style="position: absolute; left: 0.594732%; top: 10.8814%; font-weight: lighter;"><span
            class="el-breadcrumb__item"><a role="link" class="el-breadcrumb__inner" style="text-decoration: none;"
                                           href="../index.html">首页</a><span
            role="presentation" class="el-breadcrumb__separator">/</span></span> <span class="el-breadcrumb__item"><a
            role="link" class="el-breadcrumb__inner" id="breadcrumb_school" style="text-decoration: none;"></a><span
            role="presentation"
                                                                      class="el-breadcrumb__separator">/</span></span>
        <span class="el-breadcrumb__item" aria-current="page"><span role="link"
                                                                    class="el-breadcrumb__inner"
                                                                    id="breadcrumb_profession"></span><span
                role="presentation" class="el-breadcrumb__separator">/</span></span></div>
    <div id="pro_detail"></div>

    <div class="el-row" style="position: absolute; left: -0.254885%; top: 93.1111%; height: 11.8085%; width: 99.4053%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
             style="height: 80px; background-color: rgb(0, 150, 136); width: 100.086%; transform: rotate(0deg);">
            <a href="https://beian.miit.gov.cn/" autofocus="autofocus" class="el-link el-link--default"
               style="position: absolute; left: 41.573%; top: 23.0769%; font-weight: bold; color: rgb(255, 255, 255); width: 18.5825%;">
                <!----><span class="el-link--inner">赣ICP备2021002725号-1</span><!----></a>
            <span class="mc-ui-geometry-char"style="height: 20px; width: 202px; position: absolute; left: 35%;
            top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255);">赣州爱学业教育科技中心</span>

            <span class="mc-ui-geometry-char"style="height: 20px; width: 202px; position: absolute; left: 51%;
            top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255); cursor: pointer"
                  onclick="document.location.href='../about/info.html'">关于我们
            </span>

            <span class="mc-ui-geometry-char"style="height: 20px; width: 202px; position: absolute; left: 59%;
            top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255);cursor: pointer"
                  onclick="document.location.href='../about/contact.html'">联系我们</span>
        </div>
    </div>
</div>
<script>
$("#pro_detail").html(loading);
axios.get(apiUrl+"/college/profession/"+getUrlParam("id"))
.then(function(response){
    console.log(response);
    if(response && response.data){
        let data = response.data;
        let item = '<span class="mc-ui-geometry-char"\n'
                   +
                   '          style="height: 34px; width: 320px; position: absolute; left: 40.9516%; top: 16.5397%; font-weight: bold; font-size: 25px;">'+data.name+'</span>\n'
                   + '    <div class="el-image" style="width: 32.8802%; height: 314px; position: absolute; left: 3.05862%; top: 23.7214%;">\n'
                   + '        <img src="'+data.processImg+'" class="el-image__inner"></div>\n'
                   + '    <span class="mc-ui-geometry-char"\n'
                   +
                   '          style="height: 20px; width: 306px; position: absolute; left: 45.6245%; top: 25.8977%; font-weight: bold;">休学年限：'+data.year+'年</span>\n'
                   + '    <button type="button" class="el-button el-button--default"\n'
                   + '            style="position: absolute; left: 45.6245%; top: 34.0588%; background-color: rgb(0, 150, 136); font-weight: bold; color: rgb(255, 255, 255);">\n'
                   +
                   '        <!----><!----><a style="color: white; text-decoration: none;" href="../apply/apply.html">在线报名</a></button>\n'
                   +
                   '    <div style="position: absolute; left: 0.594732%; top: 63.4385%; width: 98.5556%; height: 33.0794%; font-size: 18px;">'+data.processDescribe+'</div>';
        $("#breadcrumb_school").html(data.school.name);
        $("#breadcrumb_school").attr("href","../school/detail.html?id="+data.school.id);
        $("#breadcrumb_profession").html(data.name)
        $("#pro_detail").replaceWith(item);
    }
    $("#pro_detail").find(".el-loading-mask").remove();
})
</script>
<script src="../../resources/js/consult.js"></script>
</body>
<addoninited id="addonInited" targetelementname="addonInited"></addoninited>
</html>