<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>发布</title>
    <meta name="description" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
    <meta name="keywords" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="../../resources/element/css/element.css">
    <link rel="stylesheet" href="../../resources/magical/magicalcoder.css">

    <script src="../../resources/magical/magicalcoder.js"></script>
    <script src="../../resources/vue/vue.js"></script>
    <script src="../../resources/element/js/element.js"></script>
    <script src="../../resources/vue/axios.js"></script>
</head>
<body style="">
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane" style="height: 789px; width: 99.841%;">
    <div class="el-row" style="position: absolute; left: 0.0853971%; top: -0.142857%; height: 10%; width: 45.7728%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24 el-col-md-12"
             style="height: 90px; width: 216.886%; background-color: rgb(0, 150, 136);">
            <div class="el-image"
                 style="width: 16.8127%; height: 73px; position: absolute; left: 0.0796813%; top: 12.2222%; background-color: rgb(0, 150, 136);">
                <img src="../../resources/images/logo.png" class="el-image__inner"
                     style="object-fit: scale-down;"></div>
            <ul role="menubar" class="el-menu--horizontal el-menu"
                style="width: 62.8696%; position: absolute; left: 17.2908%; top: 12.5%; height: 69px; border-bottom-style: hidden; background-color: rgb(0, 150, 136);">
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);">
                    中专排名
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidb91917e6-6bc2-4db8-abad-130adce9e9ef"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);">
                    热门专业
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuid8772fdd1-4c6f-439f-8208-93ff27a52e7d"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);">
                    技能培训
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuida24a7b6e-f6b0-467f-897b-35dcc92bb610"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);">
                    招生问答
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidadad5f9c-6403-46f4-b32d-d2e469f7b455"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);">
                    在线报名
                </li>
            </ul>
            <button type="button" class="el-button el-button--primary el-button--small"
                    style="position: absolute; left: 92.2414%; top: 28%; width: 6.12069%; height: 40px; background-color: rgb(0, 150, 136); font-weight: bold;">
                <!----><i class="el-icon-s-custom"></i><span>登录</span></button>
        </div>
    </div>
    <div aria-label="Breadcrumb" role="navigation" class="el-breadcrumb"
         style="position: absolute; left: 0.0794913%; top: 14.7143%; font-weight: lighter;"><span
            class="el-breadcrumb__item"><span role="link" class="el-breadcrumb__inner">首页</span><span
            role="presentation" class="el-breadcrumb__separator">/</span></span> <span class="el-breadcrumb__item"><span
            role="link" class="el-breadcrumb__inner">赣州理工职业学校</span><span role="presentation"
                                                                          class="el-breadcrumb__separator">/</span></span>
        <span class="el-breadcrumb__item" aria-current="page"><span role="link" class="el-breadcrumb__inner">专业列表</span><span
                role="presentation" class="el-breadcrumb__separator">/</span></span></div>
    <table class="mc-table" style="position: absolute; left: 0.0794913%; top: 20.4082%; width: 98.8871%; height: 37px;">
        <tbody style="height: 40px;">
        <tr style="height: 37px;">
            <td class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px; margin-top: 0px; margin-right: 0px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuide290dc2d-75a1-40b3-8149-6eafa286b865" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid66905c28-ef6a-4f80-a362-85bcda92dc5d" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuid4501cd6f-cc98-4538-8bdd-cd4d7bef0675" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuidbc98d061-6ad7-4161-82e7-e88b092c5871" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid495b7646-c832-4ce1-b68a-e80834d7bad6" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuid580d5b1c-6e49-475f-8a29-438eefbd4139" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuidace55b76-8ac7-481a-8091-eb80f9b27fef" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuidf231dd96-9a05-4de4-8f1d-c75978c1c1ec" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuidf2c238aa-baef-46a4-9bcf-92dbf11d172d" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid1a21b4a9-7b07-452b-b881-3df7638ccef4" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuidb47aaead-0fe5-41d2-9deb-d59f67313519" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuidb5439f02-e9d2-484d-bb45-798542e1a002" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid04f2c756-0cb1-4384-8bcb-eff228b2271a" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid3217110b-19a9-4434-bf53-c1f41d5d969e" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuide2e7d84d-9452-4f1b-9d64-de7beae7cffe" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid5c2aebd2-2420-4f5d-b1ea-9e540a3c8c1e" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid8930c815-f125-42be-81d7-1f3a12641c3e" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuidee97cc0e-d69c-4643-8d17-7e66e2a81c1f" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid9f6236f9-ba39-4965-b43b-f76036f040c1" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuidb3e79146-d8b6-45dc-ae79-cac996bf211a" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuid30a6c1a6-6951-48b1-a8ba-e487efd6f4fc" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuidbbfad8eb-bb11-493a-8f23-1e55853464e3" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid7ac3aee8-ca1c-45c9-97fe-a0246d870448" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuid605dbfd1-2b8a-420a-866f-3fe488efc5ac" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid3e2c1912-63b7-44dc-9485-01dea1a855f8" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuidb8e8d111-2fb1-4180-9e2b-cccd6eef5de7" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuid6d007a63-2cef-4dc4-a4b2-63a7d48efc93" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid0cea9086-4083-4c69-986a-937a7574f47e" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid5923fc8a-33c7-421a-b529-f22e85758f6c" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuid612a7a44-4c74-4b9b-957f-98badddc1551" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuidc71f47e8-ea3c-4c14-8f0a-0d2f97af06a8" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid34434a38-d77c-48c5-a034-084ea1e5b840" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuida1c8f5f6-2ac8-45f5-9ea6-30c006e73873" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid4013e775-6262-4dd5-8131-ee5f539c544d" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuidec34434a-d0d3-4276-b3c8-c441facab3ce" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuid2ea34a10-b17c-4f92-9eec-27dcf0bac137" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid3281500a-7ffd-4a83-814a-07ab237b8fd7" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid511e0b4a-f4a0-423b-bc35-b230cb5d8063" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        <tr id="uuid950045cd-9507-4f33-a38a-b87b54d0d7a1" style="height: 37px;">
            <td class="mc-ui-absolute-pane" style="width: 0%; border-style: solid; border-width: 1px;"><span
                    class="mc-ui-geometry-char"
                    style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuid6eb35762-a133-44cf-ae4a-2cd663b11f63" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
            <td id="uuide91e6d58-fbeb-4739-8ff8-bb753c7659b6" class="mc-ui-absolute-pane"
                style="width: 0%; border-style: solid; border-width: 1px;"><span class="mc-ui-geometry-char"
                                                                                 style="height: 20px; width: 356px; position: absolute; left: 0%; top: 24.2424%; font-size: 15px;">新能源汽车制造与装配（福汽集团订单培养班）</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="el-row" style="left: 0.0796178%; height: 11.8085%; width: 98.4076%; position: absolute; top: 97.2117%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
             style="height: 80px; background-color: rgb(0, 150, 136); width: 100.086%; transform: rotate(0deg);"><a
                href="https://beian.miit.gov.cn/" autofocus="autofocus" class="el-link el-link--default"
                style="position: absolute; left: 41.573%; top: 23.0769%; font-weight: bold; color: rgb(255, 255, 255); width: 18.5825%;">
            <!----><span class="el-link--inner">赣ICP备2021002725号-1</span><!----></a> <span class="mc-ui-geometry-char"
                                                                                           style="height: 20px; width: 202px; position: absolute; left: 46.0674%; top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255);">赣州爱学业教育科技中心</span>
        </div>
    </div>
</div>
</body>
<addoninited id="addonInited" targetelementname="addonInited"></addoninited>
</html>