<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>发布</title>
    <meta name="description" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
    <meta name="keywords" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="../../resources/element/css/element.css">
    <link rel="stylesheet" href="../../resources/magical/magicalcoder.css">

    <script src="../../resources/magical/magicalcoder.js"></script>
    <script src="../../resources/vue/vue.js"></script>
    <script src="../../resources/element/js/element.js"></script>
    <script src="../../resources/vue/axios.js"></script>
</head>
<body style="">
<div id="magicalDragScene" mcstyle="ab-unit:%;ab-unit-left:%;ab-unit-top:%;ab-unit-width:%;ab-unit-height:%"
     background-color="#bf2525" class="mc-root mc-ui-absolute-pane"
     style="background-color: rgb(255, 255, 255); height: 919px; width: 93.5612%; margin-left: 50px;">
    <div class="el-row" style="position: absolute; left: 0.0853971%; top: -0.142857%; height: 10%; width: 45.7728%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24 el-col-md-12"
             style="height: 90px; width: 218.182%; background-color: rgb(0, 150, 136);">
            <div class="el-image"
                 style="width: 16.8127%; height: 73px; position: absolute; left: 0.0796813%; top: 12.2222%; background-color: rgb(0, 150, 136);">
                <img src="../../resources/images/logo.png" class="el-image__inner"
                     style="object-fit: scale-down;"></div>
            <ul role="menubar" class="el-menu--horizontal el-menu"
                style="width: 62.8696%; position: absolute; left: 17.2908%; top: 12.5%; height: 69px; border-bottom-style: hidden; background-color: rgb(0, 150, 136);">
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);">
                    中专排名
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidb91917e6-6bc2-4db8-abad-130adce9e9ef"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);">
                    热门专业
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuid8772fdd1-4c6f-439f-8208-93ff27a52e7d"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);">
                    技能培训
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuida24a7b6e-f6b0-467f-897b-35dcc92bb610"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);">
                    招生问答
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidadad5f9c-6403-46f4-b32d-d2e469f7b455"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);">
                    在线报名
                </li>
            </ul>
            <button type="button" class="el-button el-button--primary el-button--small"
                    style="position: absolute; left: 92.2414%; top: 28%; width: 6.12069%; height: 40px; background-color: rgb(0, 150, 136); font-weight: bold;">
                <!----><i class="el-icon-s-custom"></i><span>登录</span></button>
        </div>
    </div>
    <div class="el-row" style="position: absolute; left: 0.594732%; top: 13%; height: 30.3591%; width: 99.4053%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
             style="height: 34px; background-color: rgb(0, 150, 136);"><span class="mc-ui-geometry-char"
                                                                             style="height: 20px; width: 176px; position: absolute; left: 42.9795%; top: 21.875%; font-weight: bold; color: rgb(255, 255, 255);">赣州理工职业学院</span>
        </div>
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 238px;">
            <table class="mc-table"
                   style="position: absolute; left: 0.34188%; top: 1.57303%; width: 98.9726%; height: 39px;">
                <tbody>
                <tr style="border-right-style: solid;">
                    <td class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuid5dfe2a42-aa99-41c2-9973-c85d8112b4de" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuid3db02bbc-aa51-4012-9308-66265e7bbe45" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                </tr>
                <tr id="uuidd2779bd3-d311-4c54-8c84-cb5f03463a3b" style="border-right-style: solid;">
                    <td class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuid8eacf5bf-0cac-44ce-a577-36b38b34d8b5" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuid8842b12e-f95a-4d6c-9fb4-288e0cd5a176" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                </tr>
                <tr id="uuid304f2ab8-568a-4a53-a780-84a316dd60fe" style="border-right-style: solid;">
                    <td class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuidd0b70107-cf57-4c5f-902c-bcd66852c0fc" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuid565f10da-de9b-4a41-9ea9-e8505861d63f" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="el-link el-link--primary"
               style="position: absolute; left: 44.7504%; top: 67.7966%; font-weight: bold; font-size: 14px;"><i
                    class="el-icon-d-arrow-right"></i><span class="el-link--inner">查看更多专业</span><!----></a></div>
    </div>
    <div aria-label="Breadcrumb" role="navigation" class="el-breadcrumb"
         style="position: absolute; left: 0.594732%; top: 10.8814%; font-weight: lighter;"><span
            class="el-breadcrumb__item"><span role="link" class="el-breadcrumb__inner">首页</span><span
            role="presentation" class="el-breadcrumb__separator">/</span></span> <span class="el-breadcrumb__item"
                                                                                       aria-current="page"><span
            role="link" class="el-breadcrumb__inner">专业排名</span><span role="presentation"
                                                                      class="el-breadcrumb__separator">/</span></span>
    </div>
    <div class="el-row" style="position: absolute; left: -0.254885%; top: 93.1111%; height: 11.8085%; width: 99.4053%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
             style="height: 80px; background-color: rgb(0, 150, 136); width: 100.086%; transform: rotate(0deg);"><a
                href="https://beian.miit.gov.cn/" autofocus="autofocus" class="el-link el-link--default"
                style="position: absolute; left: 41.573%; top: 23.0769%; font-weight: bold; color: rgb(255, 255, 255); width: 18.5825%;">
            <!----><span class="el-link--inner">赣ICP备2021002725号-1</span><!----></a> <span class="mc-ui-geometry-char"
                                                                                           style="height: 20px; width: 202px; position: absolute; left: 46.0674%; top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255);">赣州爱学业教育科技中心</span>
        </div>
    </div>
    <div class="el-row" id="uuid9afc9581-4117-4a25-b8bc-80a28490674f"
         style="position: absolute; left: 0.594732%; top: 43.5256%; height: 30.3591%; width: 99.4053%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
             style="height: 34px; background-color: rgb(0, 150, 136);"><span class="mc-ui-geometry-char"
                                                                             style="height: 20px; width: 176px; position: absolute; left: 42.9795%; top: 21.875%; font-weight: bold; color: rgb(255, 255, 255);">赣州理工职业学院</span>
        </div>
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 238px;">
            <table class="mc-table"
                   style="position: absolute; left: 0.34188%; top: 1.57303%; width: 98.9726%; height: 39px;">
                <tbody>
                <tr style="border-right-style: solid;">
                    <td class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuided4979e5-7ad1-4a00-a887-5f4984c25e4e" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuid69d5c9f3-440d-4ffe-a32c-bf580516fccd" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                </tr>
                <tr id="uuidb13f9599-feb5-405f-a207-647650b42c98" style="border-right-style: solid;">
                    <td class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuidc21a6130-a1bb-455d-91e8-f23cc4bbca62" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuid85ef83f8-56cf-4172-a3c4-64466bac3557" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                </tr>
                <tr id="uuid0ac1cad6-0325-4388-a49b-80e7fcbe524b" style="border-right-style: solid;">
                    <td class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuidbe1b3812-f8e4-4de2-908d-79207c643015" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                    <td id="uuideba219cc-3251-4250-9974-dc90dac84965" class="mc-ui-absolute-pane"
                        style="width: 18.4097%; height: 32px; border-style: solid; border-width: 1px; border-color: rgb(153, 153, 153);">
                        <span class="mc-ui-geometry-char"
                              style="height: 20px; width: 348px; position: absolute; left: 1.74825%; top: 15.625%;">新能源汽车制造与装配（福汽集团订单培养班）</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="el-link el-link--primary"
               style="position: absolute; left: 44.7504%; top: 67.7966%; font-weight: bold; font-size: 14px;"><i
                    class="el-icon-d-arrow-right"></i><span class="el-link--inner">查看更多专业</span><!----></a></div>
    </div>
</div>
</body>
<addoninited id="addonInited" targetelementname="addonInited"></addoninited>
</html>