<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico">
    <title>首页</title>
    <meta name="description" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
    <meta name="keywords" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">

    <style type="text/css">
        html,body{
            height: 100%;
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="../resources/element/css/element.css">
    <link rel="stylesheet" href="../resources/magical/magicalcoder.css">
    <style id="magicalCoderCss"></style>



</head>
<body style="">
<script src="../resources/magical/magicalcoder.js"></script>
<script src="../resources/vue/vue.js"></script>
<script src="../resources/element/js/element.js"></script>
<script src="../resources/vue/axios.js"></script>
<script src="../resources/js/app.js"></script>
<script src="../resources/js/jquery.min.js"></script>

<div id="magicalDragScene" mcstyle="ab-unit:%;ab-unit-left:%;ab-unit-top:%;ab-unit-width:%;ab-unit-height:%"
     background-color="#bf2525" class="mc-root mc-ui-absolute-pane"
     style="background-color: rgb(255, 255, 255); height: 919px; width: 93.5612%; margin-left: 50px;">
    <div class="el-row" style="position: absolute; left: 0.0853971%; top: -0.142857%; height: 10%; width: 45.7728%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24 el-col-md-12"
             style="height: 90px; width: 216.886%; background-color: rgb(0, 150, 136);">
            <div class="el-image"
                 style="width: 16.8127%; height: 73px; position: absolute; left: 0.0796813%; top: 12.2222%; background-color: rgb(0, 150, 136);">
                <img src="../resources/images/logo.png" class="el-image__inner"
                     style="object-fit: scale-down;"></div>
            <ul role="menubar" class="el-menu--horizontal el-menu"
                style="width: 62.8696%; position: absolute; left: 17.2908%; top: 12.5%; height: 69px; border-bottom-style: hidden; background-color: rgb(0, 150, 136);">
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='index.html'">
                    首页
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                onclick="document.location.href='school/list.html'">
                    中专排名
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidb91917e6-6bc2-4db8-abad-130adce9e9ef"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='profession/rank.html'">
                    热门专业
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuid8772fdd1-4c6f-439f-8208-93ff27a52e7d"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='school/list.html'">
                    技能培训
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuida24a7b6e-f6b0-467f-897b-35dcc92bb610"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='q&a/list.html'">
                    招生问答
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidadad5f9c-6403-46f4-b32d-d2e469f7b455"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='apply/apply.html'">
                    在线报名
                </li>
            </ul>
            <button type="button" class="el-button el-button--primary el-button--small"
                    style="position: absolute; left: 92.2414%; top: 28%; width: 6.12069%; height: 40px; background-color: rgb(0, 150, 136); font-weight: bold;">
                <!----><i class="el-icon-s-custom"></i><span>登录</span></button>
        </div>
    </div>
    <div class="el-card is-always-shadow"
         style="position: absolute; left: -0.0794913%; top: 38%; width: 41.1917%; height: 52%;">
        <div class="el-card__header">招生资讯</div>
        <div class="el-card__body" id="news_card">
            <div class="el-row" style="height: 132px;" id="news_body">

                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuid5e6de79d-0d67-449c-a8c9-c0f0fe23647c" style="height: 28px;"></div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuid3fe47851-276b-44bd-8cb3-b852c6be3282" style="height: 28px;"></div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuidd0a44368-4da8-4c70-944c-e1451f1b4eab" style="height: 28px;"><a autofocus="autofocus"
                                                                                            class="el-link el-link--primary"
                                                                                            style="position: absolute; left: 30.3855%; top: 11.5385%; width: 27.5395%; font-weight: bold;"><i
                        class="el-icon-d-arrow-right"></i><span class="el-link--inner"
                                                                onclick="javascript:document.location.href='news/list.html'">查看更多资讯
                </span><!----></a></div>
            </div>
        </div>
    </div>
    <div class="el-card is-always-shadow"
         style="position: absolute; left: 42.0984%; top: 38%; width: 56.9948%; height: 52.3333%;">
        <div class="el-card__header">学校大全</div>
        <div class="el-card__body" id="school_card">
            <div class="el-row" style="height: 178px; width: 104.427%;" id="school_body_first">
            </div>
            <div class="el-row" style="height: 178px; width: 104.427%;" id="school_body_second">

            </div>

            <div class="el-row" id="uuidfbeabeed-c4c8-492c-95a8-c39686aecfef" style="height: 29px; width: 104.427%;">
                <div class="mc-ui-absolute-pane el-col el-col-24" id="uuidf0666880-a6d1-4075-8763-9b0fe81d078c"
                     style="height: 33px;"><a autofocus="autofocus" class="el-link el-link--primary"
                                              style="position: absolute; left: 38.7443%; top: 32.2581%; width: 26.8765%; font-weight: bold; text-align: center;"><i
                        class="el-icon-d-arrow-right"></i><span class="el-link--inner"
                                                                onclick="javascript:document.location.href='school/list.html'">
                    查看更多学校</span><!----></a></div>
            </div>
        </div>
    </div>
    <div class="el-row" style="position: absolute; left: -0.254885%; top: 93.1111%; height: 11.8085%; width: 99.4053%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
             style="height: 80px; background-color: rgb(0, 150, 136); width: 100.086%; transform: rotate(0deg);"><a
                href="https://beian.miit.gov.cn/" autofocus="autofocus" class="el-link el-link--default"
                style="position: absolute; left: 41.573%; top: 23.0769%; font-weight: bold; color: rgb(255, 255, 255); width: 18.5825%;">
            <!----><span class="el-link--inner">赣ICP备2021002725号-1</span><!----></a> <span class="mc-ui-geometry-char"
                                                                                           style="height: 20px; width: 202px; position: absolute; left: 46.0674%; top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255);">赣州爱学业教育科技中心</span>
        </div>
    </div>
    <div class="el-row"
         style="position: absolute; left: 0.0853971%; top: 10.2128%; height: 27.0213%; width: 99.2314%; background-color: rgb(0, 150, 136);">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 253px;">
            <div class="el-carousel el-carousel--horizontal"
                 style="position: absolute; left: 0%; top: -0.796813%; height: 250px; width: 99.9135%;">
                <div class="el-carousel__container" style="height: 250px;" id="focusContainer">
                    <button type="button" class="el-carousel__arrow el-carousel__arrow--left" style="display: none;"><i
                            class="el-icon-arrow-left"></i></button>
                    <button type="button" class="el-carousel__arrow el-carousel__arrow--right" style="display: none;"><i
                            class="el-icon-arrow-right"></i></button>

                </div>
                <ul class="el-carousel__indicators el-carousel__indicators--horizontal">
                    <li class="el-carousel__indicator el-carousel__indicator--horizontal is-active">
                        <button class="el-carousel__button"><!----></button>
                    </li>
                    <li class="el-carousel__indicator el-carousel__indicator--horizontal">
                        <button class="el-carousel__button"><!----></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $("#school_card").append(loading);
    $("#news_card").append(loading);
    axios.post(apiUrl + '/college/focus/list')
        .then(function (response) {
            console.log(response)
            if(response && response.data.total>0){
                for (let i = 0; i < response.data.total; i++) {
                    if(response.data.rows[i].img){
                        let item = '<div class="el-carousel__item is-animating"\n'
                                   + '                         style="transform: translateX(765px) scale(1); height: 248px;"><!---->\n'
                                   + '                        <div class="el-image" style="width: 100.173%; height: 254px;"><img\n'
                                   + '                                src="'+response.data.rows[i].img+'" class="el-image__inner"\n'
                                   + '                                style="object-fit: none;"></div>\n'
                                   + '                    </div>'
                        $("#focusContainer").html($("#focusContainer").html()+item);
                    }
                }
            }

        })
        .catch(function (error) {
            console.log(error);
        });

    axios.post(apiUrl + "/college/school/list")
        .then(function (response) {

            if (response && response.data.total > 0) {
                let count = response.data.total;
                console.log(response);
                let rows = response.data.rows;
                let len = count <= 6 ? count : 6;
                for (let i = 0; i < len; i++) {
                    let school_item = '  <div class="mc-ui-absolute-pane el-col el-col-6 el-col-xs-24 el-col-md-12"\n'
                                      + '                     style="height: 168px; width: 32.6087%; text-align: left; padding-left: 3px;">\n'
                                      + '                    <div class="el-image"\n'
                                      + '                         style="width: 67.1141%; height: 83px; position: absolute; left: 15.6%; top: 0%;"><img\n'
                                      + '                            src="' + rows[i].lego
                                      + '" class="el-image__inner"\n'
                                      + '                            style="object-fit: scale-down;"></div>\n'
                                      + '                    <a class="el-link el-link--text"\n'
                                      +
                                      '                       style="position: absolute; left: 2.20994%; top: 56.0241%; width: 92%; text-align: left; color: black;" href="school/detail.html?id='+rows[i].id+'">\n'
                                      + '                        <!----><span class="el-link--inner">' + rows[i].name
                                      + '</span><!----></a>\n'
                                      + '                    <button type="button" class="el-button el-button--text el-button--medium"\n'
                                      + '                            style="position: absolute; left: 23.2%; top: 78.9157%; width: 53.6%; height: 35px; text-align: center; direction: ltr; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">\n'
                                      + '                        <!----><!----><span>在线咨询</span></button>\n'
                                      + '                </div>'
                    if (i < 3) {
                        $("#school_body_first").append(school_item);
                    }else{
                        $("#school_body_second").append(school_item);
                    }
                }
                $("#school_card").find('.el-loading-mask').remove();
            }
    });

    axios.post(apiUrl + "/college/news/list")
        .then(function (response) {
            console.log(response)
            if(response && response.data.total>0){
                let count = response.data.total;
                let rows = response.data.rows;
                let len = count <= 6 ? count : 6;
                let body = '';
                for (let i = 0; i < len; i++) {
                    let item = ' <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 28px;"><a\n'
                               +
                               '                        style="color:black; position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px; text-decoration: none;"' +
                               'href="news/detail.html?id='+rows[i].id+'">'+
                               rows[i].contentTitle.substr(0,20)+'...'+rows[i].createDate+'</a>\n'
                               + '                </div>';
                    body+=item;
                }
                $("#news_body").html(body + $("#news_body").html())
            }
            $("#news_card").find('.el-loading-mask').remove();
        })
        .catch(function (error) {
            console.log(error);
            $("#news_card").find('.el-loading-mask').remove();
        });
</script>
</body>
</html>