<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico">
    <title>首页-赣南中专网</title>
    <meta name="description" content="赣南中专，为你打造专业的中专就业指导！">
    <meta name="keywords" content="赣州中专，赣州技校，赣州职业学校，赣州中职院校，江西中专，赣南中专，赣州哪个中专好，中专什么专业好，赣州中专排名">

    <style type="text/css">
        html,body{
            height: 100%;
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="../resources/element/css/element.css">
    <link rel="stylesheet" href="../resources/magical/magicalcoder.css">
    <style id="magicalCoderCss"></style>



</head>
<body style="">
<script src="../resources/magical/magicalcoder.js"></script>
<script src="../resources/vue/vue.js"></script>
<script src="../resources/element/js/element.js"></script>
<script src="../resources/vue/axios.js"></script>
<script src="../resources/js/jquery.min.js"></script>
<script src="../resources/js/app.js"></script>

<div id="magicalDragScene" mcstyle="ab-unit:%;ab-unit-left:%;ab-unit-top:%;ab-unit-width:%;ab-unit-height:%"
     background-color="#bf2525" class="mc-root mc-ui-absolute-pane"
     style="background-color: rgb(255, 255, 255); height: 919px; width: 93.5612%; margin-left: 50px;">
    <div class="el-row" style="position: absolute; left: 0.0853971%; top: -0.142857%; height: 10%; width: 45.7728%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24 el-col-md-12"
             style="height: 90px; width: 216.886%; background-color: rgb(0, 150, 136);">
            <div class="el-image"
                 style="width: 16.8127%; height: 73px; position: absolute; left: 0.0796813%; top: 12.2222%; background-color: rgb(0, 150, 136);">
                <img src="../resources/images/logo.png" class="el-image__inner"
                     style="object-fit: scale-down;"></div>
            <ul role="menubar" class="el-menu--horizontal el-menu"
                style="width: 62.8696%; position: absolute; left: 17.2908%; top: 12.5%; height: 69px; border-bottom-style: hidden; background-color: rgb(0, 150, 136);">
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='index.html'">
                    首页
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                onclick="document.location.href='school/list.html'">
                    中专排名
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidb91917e6-6bc2-4db8-abad-130adce9e9ef"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='profession/rank.html'">
                    热门专业
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuid8772fdd1-4c6f-439f-8208-93ff27a52e7d"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='school/list.html'">
                    技能培训
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuida24a7b6e-f6b0-467f-897b-35dcc92bb610"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='q&a/list.html'">
                    招生问答
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidadad5f9c-6403-46f4-b32d-d2e469f7b455"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='apply/apply.html'">
                    在线报名
                </li>
            </ul>
            <button type="button" class="el-button el-button--primary el-button--small is-disabled"
                    style="position: absolute; left: 92.2414%; top: 28%; width: 6.12069%; height: 40px; background-color: rgb(0, 150, 136); font-weight: bold;">
                <!----><i class="el-icon-s-custom"></i><span>登录</span></button>
        </div>
    </div>
    <!--院校-->
    <div class="el-card is-always-shadow"
         style="position: absolute; left: 0.129032%; top: 10.2285%; height: 99.8924%; background-color: rgb(0, 150,
         136); color: rgb(255, 255, 255); font-weight: bold; font-size: 24px; width: 33.572%;" id="school_card">
        <div class="el-card__header">中专院校</div>
        <div class="el-card__body" id="school_body">

        </div>
    </div>
    <!--图片-->
    <div class="el-row" style="position: absolute; left: 34.9929%; top: 10.4461%; height: 32.8618%; width: 44.0967%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 260px; width: 100.685%;">
            <div class="el-image"
                 style="width: 101.617%; height: 248.011px; position: absolute; left: -1.87266%; top: 0.961538%;">
                <img  id="school_img"
                    src="../resources/images/491574bf-b1a4-4391-bc2d-dfaf9d7b77c3.jpg" class="el-image__inner"
                    style="object-fit: none;"></div>
        </div>
        <div class="mc-ui-absolute-pane el-col el-col-24" id="uuid9ce88efa-91f6-497a-812e-ab1a39b471c6"
             style="height: 40px;"><a class="el-link el-link--default is-underline"
                                      id="school_detail"
                                      style="width: 27.4841%; position: absolute; left: 1.50943%; top: 7.5%; height: 26.0114px; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">
            <!----><span class="el-link--inner">院校简介</span><!----></a> <a id="profession_list"
                                                                          class="el-link el-link--default is-underline"
                                                                          style="width: 27.4841%; position: absolute; left: 33.5863%; top: 5.26158%; height: 26.0114px; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">
            <!----><span class="el-link--inner">院校专业</span><!----></a> <a id="uuid340a535a-26bc-47d5-8f05-dcf906978ea8"
                                                                          class="el-link el-link--default is-underline"
                                                                          style="width: 27.4841%; position: absolute; left: 67.1727%; top: 5.26158%; height: 26.0114px; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">
            <!----><span class="el-link--inner" onclick="showOnlineConsult()">在线咨询</span><!----></a></div>
    </div>
    <!--报名-->
    <div class="el-card is-always-shadow"
         style="position: absolute; left: 34.4239%; top: 43.6344%; width: 44.3828%; height: 66.3777%; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255); font-weight: bold; font-size: 24px;">
        <div class="el-card__header">在线报名</div>
        <div class="el-card__body">
            <form class="el-form el-form--label-right">
                <div class="el-form-item is-required el-form-item--small"><label class="el-form-item__label"
                                                                                 style="width: 100px;color:rgb(255,
                                                                                 255, 255); font-size:16px;">姓名</label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        <div class="el-input el-input--small" style="width: 100%;">
                            <input type="text" autocomplete="off" placeholder="请输入内容" id="name" required="required"
                                   name="name" class="el-input__inner"/>
                        </div>
                        <div role="group" aria-label="checkbox-group" class="el-checkbox-group"></div>
                    </div>
                </div>
                <div class="el-form-item is-required el-form-item--small"><label class="el-form-item__label"
                                                                                 style="width: 100px;color:rgb(255,
                                                                                 255, 255); font-size:16px;">性别</label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        <div role="radiogroup" class="el-radio-group"><label role="radio" tabindex="0" class="el-radio"><span
                                class="el-radio__input"><span class=""></span><input type="radio"
                                                                                                    aria-hidden="true"
                                                                                                    tabindex="-1"
                                                                                                    name="sex"
                                                                                                     id="sex"
                                                                                                     checked="checked"
                                                                                                     required="required"
                                                                                                    value="0"></span><span
                                class="el-radio__label" style="color:rgb(255, 255, 255);">男<!----></span></label>
                            <label role="radio"
                                                                                                 tabindex="-1"
                                                                                       class="el-radio"><span
                                class="el-radio__input"><span class=""></span><input type="radio"
                                                                                                    aria-hidden="true"
                                                                                                    tabindex="-1"
                                                                                                    name="sex"
                                                                                                    value="1"></span><span
                                class="el-radio__label" style="color:rgb(255, 255, 255);">女<!----></span></label></div><!----></div>
                </div>
                <div class="el-form-item is-required el-form-item--small"><label class="el-form-item__label"
                                                                                 style="width: 100px;color:rgb(255,
                                                                                 255, 255); font-size:16px;">联系方式</label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        <div class="el-input el-input--small" style="width: 100%;"><!----><input type="text"
                                                                                                 autocomplete="off"
                                                                                                 id="phone"
                                                                                                 pattern="^1[345678][0-9]{9}$"
                                                                                                 onblur="validate(this,'手机号格式错误')"
                                                                                                 name="phone"
                                                                                                 required="required"
                                                                                                 placeholder="请输入内容"
                                                                                                 class="el-input__inner">
                            <!----><!----><!----><!----></div>
                        <div role="group" aria-label="checkbox-group" class="el-checkbox-group"></div><!----></div>
                </div>
                <div class="el-form-item is-required el-form-item--small" id="uuid40c70fdf-1a84-46bc-aef0-806387ade7ae">
                    <label class="el-form-item__label" style="width: 100px;color:rgb(255,
                                                                                 255, 255); font-size:16px;">报读学校</label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        <div class="el-select el-select--small"><!---->
                            <div class="el-input el-input--small el-input--suffix">
                                <select class="el-input__inner" style="-webkit-appearance: menulist;" name="schoolId"
                                        id="schoolId" required="required">
                                    <option value="">---请选择---</option>
                                </select>
                            </div>
                        </div>
                        <div role="group" aria-label="checkbox-group" class="el-checkbox-group"></div><!----></div>
                </div>
                <div class="el-form-item is-required el-form-item--small" >
                    <label class="el-form-item__label" style="width: 100px;color:rgb(255,
                                                                                 255, 255); font-size:16px;">报读专业</label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        <div class="el-select el-select--small"><!---->
                            <div class="el-input el-input--small el-input--suffix">
                                <select class="el-input__inner" style="-webkit-appearance: menulist;" name="professionId"
                                        id="professionId" required="required">
                                    <option value="">---请选择---</option>
                                </select>
                            </div>
                        </div>
                        <div role="group" aria-label="checkbox-group" class="el-checkbox-group"></div><!----></div>
                </div>
                <div class="el-form-item is-required el-form-item--small">
                    <label class="el-form-item__label" style="width: 100px;color:rgb(255,
                                                                                 255, 255); font-size:16px;">学生类别</label>
                    <div class="el-form-item__content" style="margin-left: 100px;margin-bottom: 20px;">
                        <div class="el-select el-select--small"><!---->
                            <div class="el-input el-input--small el-input--suffix">
                                <select class="el-input__inner" style="-webkit-appearance: menulist;"
                                        name="studentType" id="studentType" required="required">
                                    <option value="">---请选择---</option>
                                    <option value="0">初中毕业生</option>
                                    <option value="1">高中毕业生</option>
                                    <option value="2">其他</option>
                                </select>
                            </div>
                        </div>
                </div>
                <div class="el-form-item el-form-item--small" id="uuid4f4c1078-45b7-49d2-ac7e-143c2c6bb8e1"><label
                        class="el-form-item__label" style="width: 100px;color:rgb(255,
                                                                                 255, 255); font-size:16px;">毕业学校</label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        <div role="group" aria-label="checkbox-group" class="el-checkbox-group"></div>
                        <div class="el-input el-input--small" style="width: 100%;"><!----><input type="text"
                                                                                                 autocomplete="off"
                                                                                                 placeholder="请输入内容"
                                                                                                 name="graduationSchool"
                                                                                                 id="graduationSchool"
                                                                                                 class="el-input__inner">
                            <!----><!----><!----><!----></div><!----></div>
                </div>
                <div class="el-form-item el-form-item--small" id="uuidae3dc443-5cfa-43bd-ab1d-183a624bc50c"><label
                        class="el-form-item__label" style="width: 100px;color:rgb(255,
                                                                                 255, 255); font-size:16px;">中考分数</label>
                    <div class="el-form-item__content" style="margin-left: 100px;">
                        <div role="group" aria-label="checkbox-group" class="el-checkbox-group"></div>
                        <div class="el-input el-input--small" style="width: 44.9203%; margin-bottom: 5px;"><!---->
                            <input type="number"
                                                                                                     autocomplete="off"
                                                                                                     placeholder="请输入内容"
                                                                                                     name="midtermScore"
                                                                                                     id="midtermScore"
                                                                                                     class="el-input__inner">
                            <!----><!----><!----><!----></div><!----></div>
                </div>
                <div class="el-form-item el-form-item--small" style="width: 119.861%;"><!---->
                    <div class="el-form-item__content" style="margin-left: 18px;">
                        <div class="el-row" style="width: 103.448%;">
                            <div class="mc-ui-absolute-pane el-col el-col-12" style="width: 249.153%;">
                                <button type="button" id="submit" class="el-button el-button--default el-button--small"
                                        style="background-color: rgb(0, 150, 136); color: rgb(255, 255, 255); font-weight: bold; width: 12.5333%;">
                                    <!----><!----><span>提交</span></button>
                                <button type="button" id="reset" class="el-button el-button--default el-button--small"
                                        style="width: 12.2667%; position: absolute; left: 16.8896%; top: 3.12389%;">
                                    <!----><!----><span>重置</span></button>
                            </div>
                            <div class="el-col el-col-12"></div>
                        </div><!----></div>
                </div>
                </div>
                <input type="hidden" name="identifyCard" value="000000000000000000"/>
            </form>
        </div>
    </div>
    <!--专业-->
    <div class="el-card is-always-shadow"
         id="profession_card"
         style="position: absolute; left: 79.8009%; top: 10.3373%; width: 19.3473%; height: 99.6748%; background-color: rgb(0, 150, 136); font-weight: bold; font-size: 24px; color: rgb(255, 255, 255);">
        <div class="el-card__header">中专专业</div>
        <div class="el-card__body" id="profession_body">
            <div id="profession_item"></div>

            <div class="el-row" id="uuid97a08132-eecb-43c7-9356-a931acaf3229"
                 style="height: 50px; background-color: rgb(0, 150, 136); width: 117.778%;">
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-12 el-col-sm-12"
                     id="uuid987bab48-341f-42bd-8932-066b40d890b8" style="height: 38px; width: 100.627%;"><a
                        autofocus="autofocus" class="el-link el-link--primary"
                        style="position: absolute; left: -1.90456%; top: 7.89474%; width: 99.0477%; font-weight: bold; height: 38px;"><i
                        class="el-icon-d-arrow-right"></i><span class="el-link--inner"
                                                                onclick="document.location.href='profession/rank.html'">查看更多专业
                </span><!----></a></div>
            </div>
        </div>
    </div>
    <!--资讯-->
    <div class="el-card is-always-shadow"
         style="position: absolute; left: 0.142248%; top: 110.99%; width: 53.3442%; height: 52%; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255); font-weight: bold; font-size: 24px;">
        <div class="el-card__header">学业资讯</div>
        <div class="el-card__body" id="news_card">
            <div class="el-row" style="height: 132px;" id="news_body">

                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 28px;"></div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"  style="height: 28px;"><a autofocus="autofocus"
                                                                                            class="el-link el-link--primary"
                                                                                            style="position: absolute; left: 30.3855%; top: 11.5385%; width: 27.5395%; font-weight: bold;"><i
                        class="el-icon-d-arrow-right"></i><span class="el-link--inner" onclick="javascript:document.location.href='news/list.html'">查看更多资讯</span><!----></a></div>
            </div>
        </div>
    </div>
    <!--问答-->
    <div class="el-card is-always-shadow"
         style="position: absolute; left: 54.4808%; top: 110.881%; height: 52.0137%; width: 44.6673%; color: rgb(255, 255, 255); background-color: rgb(0, 150, 136); font-weight: bold; font-size: 24px;">
        <div class="el-card__header">招生问答</div>
        <div class="el-card__body" id="qa_card">
            <div class="el-row" style="height: 132px;" id="qa_body">

                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 28px;"></div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 28px;">
                    <a autofocus="autofocus" class="el-link el-link--primary" style="position: absolute; left:
                    30.3855%; top: 11.5385%; width: 27.5395%; font-weight: bold;"><i
                        class="el-icon-d-arrow-right"></i><span class="el-link--inner"
                                                                onclick="javascript:document.location.href='q&a/list.html'">查看更多问答</span><!----></a></div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="el-row" style="position: absolute; left: -0.254885%; top: 165%; height: 11.8085%; width:
    99.4053%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
             style="height: 80px; background-color: rgb(0, 150, 136); width: 100.086%; transform: rotate(0deg);"><a
                href="https://beian.miit.gov.cn/" autofocus="autofocus" class="el-link el-link--default"
                style="position: absolute; left: 41.573%; top: 23.0769%; font-weight: bold; color: rgb(255, 255, 255); width: 18.5825%;">
            <!----><span class="el-link--inner">赣ICP备2021002725号-1</span><!----></a> <span class="mc-ui-geometry-char"
                                                                                           style="height: 20px; width: 202px; position: absolute; left: 46.0674%; top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255);">赣州爱学业教育科技中心</span>
        </div>
    </div>

</div>

<script>
    $("#school_card").append(loading);
    $("#news_card").append(loading);
    $("#qa_card").append(loading);
    $("#profession_card").append(loading);
    // axios.post(apiUrl + '/college/focus/list')
    //     .then(function (response) {
    //         console.log(response)
    //         if(response && response.data.total>0){
    //             for (let i = 0; i < response.data.total; i++) {
    //                 if(response.data.rows[i].img){
    //                     let item = '<div class="el-carousel__item is-animating"\n'
    //                                + '                         style=" height: 248px;"><!---->\n'
    //                                + '                        <div class="el-image" style="width: 100.173%; height: 254px;"><img\n'
    //                                + '                                src="'+response.data.rows[i].img+'" class="el-image__inner"\n'
    //                                + '                                style="object-fit: none;"></div>\n'
    //                                + '                    </div>'
    //                     $("#focusContainer").html($("#focusContainer").html()+item);
    //                 }
    //             }
    //         }
    //
    //     })
    //     .catch(function (error) {
    //         console.log(error);
    //     });

    let schools;
    axios.post(apiUrl + "/college/school/simpleList")
        .then(function (response) {
            if (response && response.data.total > 0) {
                let count = response.data.total;
                console.log(response);
                let rows = response.data.rows;
                let len = count <= 8 ? count : 8;
                schools = rows;
                for (let i = 0; i < len; i++) {
                    if(!rows[i].logo2){
                        continue;
                    }
                    let school_item =
                        ' <div class="el-row school_item" style="height: 102px;" schoolImage="'+rows[i].coverImg+'" schoolId="'+rows[i].id+'">\n'
                                      + '                <div class="el-col el-col-24 el-col-xs-24" style="height: 85px;">\n'
                                      + '                    <div class="el-image" style="width: 100.441%; height: 97px; position: absolute;"><img\n'
                                      + '                            src="'+rows[i].logo2+'" class="el-image__inner"\n'
                                      + '                            style="object-fit: none;"></div>\n'
                                      + '                </div>\n'
                                      + '            </div>';
                   $("#school_body").append(school_item);
                }
                $(".school_item").mouseover(function(){
                    console.log($(this).attr("schoolImage"))
                    $("#school_img").attr("src", $(this).attr("schoolImage"));
                    $("#school_detail").attr("href","school/detail.html?id="+$(this).attr("schoolId"));
                    $("#profession_list").attr("href","profession/list.html?id="+$(this).attr("schoolId"));
                });
            }
            $("#school_card").find('.el-loading-mask').remove();
    });

    axios.post(apiUrl + "/college/news/list")
        .then(function (response) {
            console.log(response)
            if(response && response.data.total>0){
                let count = response.data.total;
                let rows = response.data.rows;
                let len = count <= 10 ? count : 10;
                let body = '';
                for (let i = 0; i < len; i++) {

                    let item = '<div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"\n'
                               + '         style="height: 28px; border-bottom-style: dashed; border-bottom-width: 1px;"><a\n'
                               + '           href="news/detail.html?id='+rows[i].id+'"  style="position: absolute; color:black; text-decoration: none; cursor: pointer; left: 1.10375%; top: 13.6364%; width: 78.5558%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-width: 1px;">'+ rows[i].contentTitle.substr(0,30)+'...</a>\n'
                               + '        <span class="mc-ui-geometry-char"\n'
                               +
                               '              style="height: 20px; width: 75px; position: absolute; left: 80.5077%; top: 26.9231%; font-size: 14px;">'+rows[i].createDate+'</span>\n'
                               + '    </div>'
                    body+=item;
                }
                $("#news_body").html(body + $("#news_body").html())
            }
            $("#news_card").find('.el-loading-mask').remove();
        })
        .catch(function (error) {
            console.log(error);
            $("#news_card").find('.el-loading-mask').remove();
        });

    axios.post(apiUrl + "/college/answer/web/list")
        .then(function (response) {
            console.log(response)
            if(response && response.data.total>0){
                let count = response.data.total;
                let rows = response.data.rows;
                let len = count <= 10 ? count : 10;
                let body = '';
                for (let i = 0; i < len; i++) {

                    let item = '<div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"\n'
                               + '         style="height: 28px; border-bottom-style: dashed; border-bottom-width: 1px;"><a\n'
                               + '            href="q&a/detail.html?id='+rows[i].id+'"  style="position: absolute; color:black; text-decoration: none; cursor: pointer; left: 1.10375%; top: 13.6364%; width: 78.5558%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-width: 1px;">'+ rows[i].qa+'</a>\n'
                               + '        <span class="mc-ui-geometry-char"\n'
                               +
                               '              style="height: 20px; width: 75px; position: absolute; left: 80.5077%; top: 26.9231%; font-size: 14px;">'+rows[i].createDate+'</span>\n'
                               + '    </div>'
                    body+=item;
                }
                $("#qa_body").html(body + $("#qa_body").html())
            }
            $("#qa_card").find('.el-loading-mask').remove();
        })
        .catch(function (error) {
            console.log(error);
            $("#qa_card").find('.el-loading-mask').remove();
        });

    axios.post(apiUrl+"/college/profession/recommands")
    .then(function(response){
        console.log(response);
        if (response && response.data.total > 0) {
            let count = response.data.total;
            console.log(response);
            let rows = response.data.rows;
            let len = count <= 9 ? count : 9;
            let  body ='';
            for (let i = 0; i < len; i++) {
                let href ="profession/detail.html?id="+rows[i].id;
                body+= '         <div class="el-row" id="uuid4fd05b09-37ff-4f5f-957f-8a39100f28f7"\n'
                           +
                       '                 style="cursor: pointer; height: 40px; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255); width: 95.5556%;" onclick="document.location.href=\''+href+'\'">\n'
                           + '                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-12 el-col-sm-12"\n'
                           + '                     id="uuida6f306d9-067c-41a6-8a7e-ccf582230d58" style="height: 41px; width: 100.627%;"><span\n'
                           + '                        class="el-tag el-tag--medium el-tag--plain"\n'
                           +
                       '                        style="position: absolute; left: 1.90456%; top: 13.154%; width: 99.0369%; background-position: center center; float: left;" title="'+rows[i].name+'">'+rows[i].name.substr(0,10);
                       if(rows[i].name.length>10) {
                           body += '...';
                       }
                body+= '</span>\n'
                           + '                </div>\n'
                           + '            </div>';

            }
            $("#profession_item").replaceWith(body);
        }
        $("#profession_card").find('.el-loading-mask').remove();
    })
</script>

<script>
    function validate(e,msg){
        let pattern = $(e).attr("pattern")
        let value = $(e).val();
        if(value && pattern){
            if(!value.match(pattern)){
                $(e).css("border-color","red");
            }else{
                $(e).css("border-color","");
            }
        }
    }
    let school_pros_mapper=[];
    axios.post(apiUrl+"/college/school/list1")
        .then(function(response){
            console.log(response);
            if(response && response.data.total>0){
                for (let i = 0; i < response.data.total; i++) {
                    let school = response.data.rows[i];
                    let option = '<option value="'+school.id+'">'+school.name+'</option>';
                    $("#schoolId").append(option);
                    school_pros_mapper[i]={};
                    school_pros_mapper[i].id=school.id;
                    school_pros_mapper[i].professionList =school.professionList;
                }
                console.log(school_pros_mapper);
            }
        }).catch(function(error){
        alert("load school error."+error);
    });

    $("#schoolId").change(function(){
        let schoolId = $(this).val();
        if(schoolId && schoolId != ''){
            let mapper = getSchoolProsMapper(schoolId);
            if(mapper){
                let professionList = mapper.professionList;
                if(professionList && professionList.length>0){
                    for (let i = 0; i < professionList.length; i++) {
                        $("#professionId").append('<option value='+professionList[i].id+'>'+professionList[i].name+'</option>');
                    }
                }
            }
        }
    });

    $("#submit").click(function () {
        let valid = true;
        $('select[required="required"],input[required="required"]').each(function (e) {
            if (!$(this).val() || $(this).val() == '' || $(this).val() == null) {
                $(this).css("border-color", "red");
                valid = false;
            } else {
                $(this).css("border-color", "");
            }
        });
        if(!valid){
            return;
        }
        $("form").append(loading);
        axios.post(apiUrl+"/college/applyInfo/add", $("form").serialize())
            .then(function (response){
                console.log(response);
                $("form").find(".el-loading-mask").remove();
                if(response.data.code ==0){
                    alert("恭喜你报名成功，工作人员会通过电话和你联系！");
                    $('select[required="required"],input[required="required"]').val("");
                }else{
                    alert(response.data.msg);
                }

            }).catch(function(error){
            $("form").find(".el-loading-mask").remove();
            alert(error);

        })
    });

    $("#reset").click(function(){
        $('select,input').val("");
    });
    function getSchoolProsMapper(schoolId){
        for (let i = 0; i < school_pros_mapper.length; i++) {
            if(school_pros_mapper[i].id == schoolId){
                return school_pros_mapper[i];
            }
        }
        return null;
    }
</script>


<script src="../resources/js/consult.js"></script>
</body>
</html>