<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico">
    <title>首页</title>
    <meta name="description" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
    <meta name="keywords" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">

    <script src="../resources/js/application-env.js"></script>
    <script src="../resources/js/json3.js"></script>
    <script src="../resources/js/jscore.js"></script>

    <style type="text/css">
        html,body{
            height: 100%;
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="../resources/element/css/element.css">
    <link rel="stylesheet" href="../resources/magical/magicalcoder.css">
    <style id="magicalCoderCss"></style>


</head>
<body style="">
<script src="../resources/js/echart.js"></script>
<script src="../resources/js/datatool.js"></script>
<script src="../resources/magical/magicalcoder.js"></script>
<script src="../resources/vue/vue.js"></script>
<script src="../resources/element/js/element.js"></script>
<script src="../resources/vue/axios.js"></script>

<div id="magicalDragScene" mcstyle="ab-unit:%;ab-unit-left:%;ab-unit-top:%;ab-unit-width:%;ab-unit-height:%"
     background-color="#bf2525" class="mc-root mc-ui-absolute-pane"
     style="background-color: rgb(255, 255, 255); height: 919px; width: 93.5612%; margin-left: 50px;">
    <div class="el-row" style="position: absolute; left: 0.0853971%; top: -0.142857%; height: 10%; width: 45.7728%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24 el-col-md-12"
             style="height: 90px; width: 216.886%; background-color: rgb(0, 150, 136);">
            <div class="el-image"
                 style="width: 16.8127%; height: 73px; position: absolute; left: 0.0796813%; top: 12.2222%; background-color: rgb(0, 150, 136);">
                <img src="../resources/images/logo.png" class="el-image__inner"
                     style="object-fit: scale-down;"></div>
            <ul role="menubar" class="el-menu--horizontal el-menu"
                style="width: 62.8696%; position: absolute; left: 17.2908%; top: 12.5%; height: 69px; border-bottom-style: hidden; background-color: rgb(0, 150, 136);">
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);">
                    中专排名
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidb91917e6-6bc2-4db8-abad-130adce9e9ef"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);">
                    热门专业
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuid8772fdd1-4c6f-439f-8208-93ff27a52e7d"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);">
                    技能培训
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuida24a7b6e-f6b0-467f-897b-35dcc92bb610"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);">
                    招生问答
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidadad5f9c-6403-46f4-b32d-d2e469f7b455"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);">
                    在线报名
                </li>
            </ul>
            <button type="button" class="el-button el-button--primary el-button--small"
                    style="position: absolute; left: 92.2414%; top: 28%; width: 6.12069%; height: 40px; background-color: rgb(0, 150, 136); font-weight: bold;">
                <!----><i class="el-icon-s-custom"></i><span>登录</span></button>
        </div>
    </div>
    <div class="el-card is-always-shadow"
         style="position: absolute; left: -0.0794913%; top: 38%; width: 41.1917%; height: 52%;">
        <div class="el-card__header">招生资讯</div>
        <div class="el-card__body">
            <div class="el-row" style="height: 132px;">
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuid3317edf3-e322-41af-86e7-98a4ed11f5ad" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuide74f34ed-4906-4f9f-8836-1508ff66723a" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuid6cc5fd9b-2580-4883-8f3d-2318f93d1953" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuide921a2a0-91fa-4199-9fb7-071594db0022" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuid8f4b6b34-568d-41bf-83ca-d3b7f98613cb" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuidb876cab5-b4bf-4e6e-b0d2-a5e4d545795e" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuidb27f2355-577e-410b-826b-e00b3b4eadbd" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuid59ec9a44-dd8c-4aff-b096-5bbea45405d8" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuid6244a4a6-4fae-440b-828b-fae7b31ff653" style="height: 28px;"><a
                        style="position: absolute; left: 1.10375%; top: 13.6364%; width: 95.8057%; font-size: 14px; font-weight: lighter; direction: ltr; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px;">违规招生零容忍！教育部下发通知为今年中职招生划重点</a>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuid5e6de79d-0d67-449c-a8c9-c0f0fe23647c" style="height: 28px;"></div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuid3fe47851-276b-44bd-8cb3-b852c6be3282" style="height: 28px;"></div>
                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
                     id="uuidd0a44368-4da8-4c70-944c-e1451f1b4eab" style="height: 28px;"><a autofocus="autofocus"
                                                                                            class="el-link el-link--primary"
                                                                                            style="position: absolute; left: 30.3855%; top: 11.5385%; width: 27.5395%; font-weight: bold;"><i
                        class="el-icon-d-arrow-right"></i><span class="el-link--inner">查看更多资讯</span><!----></a></div>
            </div>
        </div>
    </div>
    <div class="el-card is-always-shadow"
         style="position: absolute; left: 42.0984%; top: 38%; width: 56.9948%; height: 52.3333%;">
        <div class="el-card__header">学校大全</div>
        <div class="el-card__body">
            <div class="el-row" style="height: 178px; width: 104.427%;">
                <div class="mc-ui-absolute-pane el-col el-col-6 el-col-xs-24 el-col-md-12"
                     style="height: 168px; width: 32.6087%; text-align: left; padding-left: 3px;">
                    <div class="el-image"
                         style="width: 67.1141%; height: 83px; position: absolute; left: 15.6%; top: 0%;"><img
                            src="../resources/images/gzlg.jpg" class="el-image__inner"
                            style="object-fit: scale-down;"></div>
                    <a class="el-link el-link--text"
                       style="position: absolute; left: 2.20994%; top: 56.0241%; width: 92%; text-align: left;">
                        <!----><span class="el-link--inner">赣州理工职形成的发生业学校</span><!----></a>
                    <button type="button" class="el-button el-button--text el-button--medium"
                            style="position: absolute; left: 23.2%; top: 78.9157%; width: 53.6%; height: 35px; text-align: center; direction: ltr; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">
                        <!----><!----><span>在线咨询</span></button>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-6 el-col-xs-24 el-col-md-12"
                     id="uuidc3d2f469-1163-49cb-a046-235b8c20d0bc"
                     style="height: 168px; width: 32.6087%; text-align: left; padding-left: 3px;">
                    <div class="el-image"
                         style="width: 67.1141%; height: 83px; position: absolute; left: 15.6%; top: 0%;"><img
                            src="../resources/images/gzlg.jpg" class="el-image__inner"
                            style="object-fit: scale-down;"></div>
                    <a class="el-link el-link--text"
                       style="position: absolute; left: 2.20994%; top: 56.0241%; width: 92%; text-align: left;">
                        <!----><span class="el-link--inner">赣州理工职形成的发生业学校</span><!----></a>
                    <button type="button" class="el-button el-button--text el-button--medium"
                            style="position: absolute; left: 23.2%; top: 78.9157%; width: 53.6%; height: 35px; text-align: center; direction: ltr; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">
                        <!----><!----><span>在线咨询</span></button>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-6 el-col-xs-24 el-col-md-12"
                     id="uuid84b1fa95-6085-4980-9288-1bacd21ed787"
                     style="height: 168px; width: 32.6087%; text-align: left; padding-left: 3px;">
                    <div class="el-image"
                         style="width: 67.1141%; height: 83px; position: absolute; left: 15.6%; top: 0%;"><img
                            src="../resources/images/gzlg.jpg" class="el-image__inner"
                            style="object-fit: scale-down;"></div>
                    <a class="el-link el-link--text"
                       style="position: absolute; left: 2.20994%; top: 56.0241%; width: 92%; text-align: left;">
                        <!----><span class="el-link--inner">赣州理工职形成的发生业学校</span><!----></a>
                    <button type="button" class="el-button el-button--text el-button--medium"
                            style="position: absolute; left: 23.2%; top: 78.9157%; width: 53.6%; height: 35px; text-align: center; direction: ltr; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">
                        <!----><!----><span>在线咨询</span></button>
                </div>
            </div>
            <div class="el-row" id="uuid92a2e978-bcaa-4ddf-bc77-1b6076cc90e7" style="height: 178px; width: 104.427%;">
                <div class="mc-ui-absolute-pane el-col el-col-6 el-col-xs-24 el-col-md-12"
                     style="height: 168px; width: 32.6087%; text-align: left; padding-left: 3px;">
                    <div class="el-image"
                         style="width: 67.1141%; height: 83px; position: absolute; left: 15.6%; top: 0%;"><img
                            src="../resources/images/gzlg.jpg" class="el-image__inner"
                            style="object-fit: scale-down;"></div>
                    <a class="el-link el-link--text"
                       style="position: absolute; left: 2.20994%; top: 56.0241%; width: 92%; text-align: left;">
                        <!----><span class="el-link--inner">赣州理工职形成的发生业学校</span><!----></a>
                    <button type="button" class="el-button el-button--text el-button--medium"
                            style="position: absolute; left: 23.2%; top: 78.9157%; width: 53.6%; height: 35px; text-align: center; direction: ltr; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">
                        <!----><!----><span>在线咨询</span></button>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-6 el-col-xs-24 el-col-md-12"
                     id="uuid26f57193-99f6-4052-960c-0b5402c4b85f"
                     style="height: 168px; width: 32.6087%; text-align: left; padding-left: 3px;">
                    <div class="el-image"
                         style="width: 67.1141%; height: 83px; position: absolute; left: 15.6%; top: 0%;"><img
                            src="../resources/images/gzlg.jpg" class="el-image__inner"
                            style="object-fit: scale-down;"></div>
                    <a class="el-link el-link--text"
                       style="position: absolute; left: 2.20994%; top: 56.0241%; width: 92%; text-align: left;">
                        <!----><span class="el-link--inner">赣州理工职形成的发生业学校</span><!----></a>
                    <button type="button" class="el-button el-button--text el-button--medium"
                            style="position: absolute; left: 23.2%; top: 78.9157%; width: 53.6%; height: 35px; text-align: center; direction: ltr; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">
                        <!----><!----><span>在线咨询</span></button>
                </div>
                <div class="mc-ui-absolute-pane el-col el-col-6 el-col-xs-24 el-col-md-12"
                     id="uuid5a1cb793-8c47-4ec1-9c12-ca74d7f8282a"
                     style="height: 168px; width: 32.6087%; text-align: left; padding-left: 3px;">
                    <div class="el-image"
                         style="width: 67.1141%; height: 83px; position: absolute; left: 15.6%; top: 0%;"><img
                            src="../resources/images/gzlg.jpg" class="el-image__inner"
                            style="object-fit: scale-down;"></div>
                    <a class="el-link el-link--text"
                       style="position: absolute; left: 2.20994%; top: 56.0241%; width: 92%; text-align: left;">
                        <!----><span class="el-link--inner">赣州理工职形成的发生业学校</span><!----></a>
                    <button type="button" class="el-button el-button--text el-button--medium"
                            style="position: absolute; left: 23.2%; top: 78.9157%; width: 53.6%; height: 35px; text-align: center; direction: ltr; background-color: rgb(0, 150, 136); color: rgb(255, 255, 255);">
                        <!----><!----><span>在线咨询</span></button>
                </div>
            </div>
            <div class="el-row" id="uuidfbeabeed-c4c8-492c-95a8-c39686aecfef" style="height: 29px; width: 104.427%;">
                <div class="mc-ui-absolute-pane el-col el-col-24" id="uuidf0666880-a6d1-4075-8763-9b0fe81d078c"
                     style="height: 33px;"><a autofocus="autofocus" class="el-link el-link--primary"
                                              style="position: absolute; left: 38.7443%; top: 32.2581%; width: 26.8765%; font-weight: bold; text-align: center;"><i
                        class="el-icon-d-arrow-right"></i><span class="el-link--inner">查看更多学校</span><!----></a></div>
            </div>
        </div>
    </div>
    <div class="el-row" style="position: absolute; left: -0.254885%; top: 93.1111%; height: 11.8085%; width: 99.4053%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
             style="height: 80px; background-color: rgb(0, 150, 136); width: 100.086%; transform: rotate(0deg);"><a
                href="https://beian.miit.gov.cn/" autofocus="autofocus" class="el-link el-link--default"
                style="position: absolute; left: 41.573%; top: 23.0769%; font-weight: bold; color: rgb(255, 255, 255); width: 18.5825%;">
            <!----><span class="el-link--inner">赣ICP备2021002725号-1</span><!----></a> <span class="mc-ui-geometry-char"
                                                                                           style="height: 20px; width: 202px; position: absolute; left: 46.0674%; top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255);">赣州爱学业教育科技中心</span>
        </div>
    </div>
    <div class="el-row"
         style="position: absolute; left: 0.0853971%; top: 10.2128%; height: 27.0213%; width: 99.2314%; background-color: rgb(0, 150, 136);">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 253px;">
            <div class="el-carousel el-carousel--horizontal"
                 style="position: absolute; left: 0%; top: -0.796813%; height: 250px; width: 99.9135%;">
                <div class="el-carousel__container" style="height: 250px;">
                    <button type="button" class="el-carousel__arrow el-carousel__arrow--left" style="display: none;"><i
                            class="el-icon-arrow-left"></i></button>
                    <button type="button" class="el-carousel__arrow el-carousel__arrow--right" style="display: none;"><i
                            class="el-icon-arrow-right"></i></button>
                    <div class="el-carousel__item is-active is-animating"
                         style="transform: translateX(0px) scale(1); height: 248px;"><!---->
                        <div class="el-image" style="width: 100.173%; height: 247px;"><img
                                src="../resources/images/focus1.jpg" class="el-image__inner"
                                style="object-fit: none;"></div>
                    </div>
                    <div class="el-carousel__item is-animating"
                         style="transform: translateX(765px) scale(1); height: 248px;"><!---->
                        <div class="el-image" style="width: 100.173%; height: 254px;"><img
                                src="../resources/images/focus2.jpg" class="el-image__inner"
                                style="object-fit: none;"></div>
                    </div>
                </div>
                <ul class="el-carousel__indicators el-carousel__indicators--horizontal">
                    <li class="el-carousel__indicator el-carousel__indicator--horizontal is-active">
                        <button class="el-carousel__button"><!----></button>
                    </li>
                    <li class="el-carousel__indicator el-carousel__indicator--horizontal">
                        <button class="el-carousel__button"><!----></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>