<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>中专排名-赣南中专网</title>
    <meta name="description" content="赣南中专，为你打造专业的中专就业指导！">
    <meta name="keywords" content="赣州中专，赣州技校，赣州职业学校，赣州中职院校，江西中专，赣南中专，赣州哪个中专好，中专什么专业好，赣州中专排名">

    <link rel="stylesheet" href="../../resources/element/css/element.css">
    <link rel="stylesheet" href="../../resources/magical/magicalcoder.min.css">
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
    <script src="../../resources/magical/magicalcoder.min.js"></script>
    <script src="../../resources/vue/vue.min.js"></script>
    <script src="../../resources/element/js/element.js"></script>
    <script src="../../resources/vue/axios.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/app.js?v=3"></script>
</head>
<body style="">
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane" style="height: 919px;">
    <div class="el-row" style="position: absolute; left: 0.0853971%; top: -0.142857%; height: 10%; width: 45.7728%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24 el-col-md-12"
             style="height: 90px; width: 216.886%; background-color: rgb(0, 150, 136);">
            <div class="el-image"
                 style="width: 16.8127%; height: 73px; position: absolute; left: 0.0796813%; top: 12.2222%; background-color: rgb(0, 150, 136);">
                <img src="../../resources/images/logo.png" class="el-image__inner"
                     style="object-fit: scale-down;"></div>
            <ul role="menubar" class="el-menu--horizontal el-menu"
                style="width: 62.8696%; position: absolute; left: 17.2908%; top: 12.5%; height: 69px; border-bottom-style: hidden; background-color: rgb(0, 150, 136);">
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../index.html'">
                    首页
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../school/list.html'">
                    中专排名
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidb91917e6-6bc2-4db8-abad-130adce9e9ef"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-weight: bold; font-size: 18px; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../profession/rank.html'">
                    热门专业
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuid8772fdd1-4c6f-439f-8208-93ff27a52e7d"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../school/list.html'">
                    技能培训
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuida24a7b6e-f6b0-467f-897b-35dcc92bb610"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../q&a/list.html'">
                    招生问答
                </li>
                <li role="menuitem" tabindex="0" class="el-menu-item" id="uuidadad5f9c-6403-46f4-b32d-d2e469f7b455"
                    style="color: rgb(255, 255, 255); border-bottom-color: transparent; font-size: 18px; font-weight: bold; background-color: rgb(0, 150, 136);"
                    onclick="document.location.href='../apply/apply.html'">
                    在线报名
                </li>
            </ul>
            <button type="button" class="el-button el-button--primary el-button--small is-disabled"
                    style="position: absolute; left: 92.2414%; top: 28%; width: 6.12069%; height: 40px; background-color: rgb(0, 150, 136); font-weight: bold;">
                <!----><i class="el-icon-s-custom"></i><span>登录</span></button>
        </div>
    </div>
    <div aria-label="Breadcrumb" role="navigation" class="el-breadcrumb"
         style="position: relative; left: 0.594732%; top: 10.8814%; font-weight: lighter;"><span
            class="el-breadcrumb__item"><a role="link" class="el-breadcrumb__inner" href="../index.html"
            style="text-decoration:none;">首页</a><span
            role="presentation" class="el-breadcrumb__separator">/</span></span> <span class="el-breadcrumb__item"><span
            role="link" class="el-breadcrumb__inner">中专排名</span><span role="presentation"
                                                                      class="el-breadcrumb__separator">/</span></span></div>
    <span class="mc-ui-geometry-char"
          style="height: 20px; width: 326px; position: absolute; left: 45.607%; top: 13.9282%; font-size: 19px;
          font-weight: bold;" id = "title">赣州中专学校有那些，中专排名</span>
    <div id="school_list"></div>
    <div class="el-row" style="position: relative; left: 0.559105%; top: 18.3896%; height: 11.8085%; width: 99.4053%;">
        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24"
             style="height: 80px; background-color: rgb(0, 150, 136); width: 100.086%; transform: rotate(0deg);">
            <a href="https://beian.miit.gov.cn/" autofocus="autofocus" class="el-link el-link--default"
               style="position: absolute; left: 41.573%; top: 23.0769%; font-weight: bold; color: rgb(255, 255, 255); width: 18.5825%;">
                <!----><span class="el-link--inner">赣ICP备2021002725号-1</span><!----></a>
            <span class="mc-ui-geometry-char"style="height: 20px; width: 202px; position: absolute; left: 35%;
            top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255);">赣州爱学业教育科技中心</span>

            <span class="mc-ui-geometry-char"style="height: 20px; width: 202px; position: absolute; left: 51%;
            top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255); cursor: pointer"
                  onclick="document.location.href='../about/info.html'">关于我们
            </span>

            <span class="mc-ui-geometry-char"style="height: 20px; width: 202px; position: absolute; left: 59%;
            top: 62.8205%; font-weight: bold; font-size: 15px; color: rgb(255, 255, 255);cursor: pointer"
                  onclick="document.location.href='../about/contact.html'">联系我们</span>
        </div>
    </div>
</div>
<script>
    $("body").append(loading);
    axios.post(apiUrl+"/college/school/simpleList")
    .then(function(response){
        console.log(response)
        if(response && response.data.total>0){
            let school_body = '';
            let count = response.data.total;
            for (let i = 0; i < count; i++) {
                let row = response.data.rows[i];
                let school_detail = "document.location.href='detail.html?id="+row.id+"'";
                let school_item =
                    '<div class="el-row" style="position: relative; left: 0.559105%; top: 18.3896%; width: 98.72%; ">\n'
                                  + '        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" id="uuid4e496fab-c2e0-4c37-9e29-cefd05dceffa"\n'
                                  + '             style="height: 42px; background-color: rgb(0, 150, 136); font-weight: bold; color: rgb(255, 255, 255);">\n'
                                  + '            <span class="mc-ui-geometry-char"\n'
                                  +
                                  '                  style="height: 20px; width: 238px; position: absolute; left: 2%; top: 27.5%;" onclick="'+school_detail+'">'+row.name+'</span>\n'
                                  + '        </div>\n'
                                  + '        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" id="uuid2cd3b742-4151-4bc4-8afa-0eeeaaeec9fb"\n'
                                  + '             ><p\n'
                                  +
                                  '                style="position: absolute; left: -0.0810373%; top: -6.12245%; width: 99.8379%;  font-size: 18px;">\n'
                                  +row.shortIntroduction+ '        </p></div>\n'
                                  + '        <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" id="uuid7f926451-953d-4fe8-a91a-8558dd33af1b"\n'
                                  + '             style="height: 326px;">\n'
                                  + '            <div class="el-row"\n'
                                  + '                 style="position: absolute; left: 19.1027%; top: 0.615345%; height: 325px; width: 60.8844%;">\n'
                                  + '                <div class="mc-ui-absolute-pane el-col el-col-24 el-col-xs-24" style="height: 323px;">\n'
                                  + '                    <div class="el-image"\n'
                                  + '                         style="width: 64.1691%; height: 287.021px; position: absolute; left: 23.1222%; top: 4.9841%;">\n'
                                  + '                        <img src="'+row.coverImg+'" class="el-image__inner"\n'
                                  + '                             style="object-fit: fill;"></div>\n'
                                  + '                </div>\n'
                                  + '            </div>\n'
                                  + '        </div>\n'
                                  + '    </div>';

                school_body+=school_item;

            }
            $("#school_list").replaceWith(school_body);
        }


        $("body").find(".el-loading-mask").remove();
    })
</script>
<script src="../../resources/js/consult.js"></script>
</body>
<addoninited id="addonInited" targetelementname="addonInited"></addoninited>
</html>